
table {
	font-size: Roboto;
}


.green {
	background-color: #4c9d11;
}

.light_grey {
	background-color: #f6f7fb;
}

td, th {
	padding: 10px;
}

.payment_border_bottom {
	border-color: green;
}


.discount {
	background-color: blue;
    width: 130px;
    text-align: center;
    color: white;
}

.payment_heading {
	color: blue;
}

