<section class="contact-bonuses">
<div class="bonuses_wrap">
    <h3 class="bonuses__title">Історія нарахованих бонусів</h3>
    <div class="bonuses__diagram">
        <div class="bonuses__diagram--wrap">
            <div class="bonuses__col col-2012"><header>26,71</header></div>
            <div class="bonuses__col col-2013"><header>35,41</header></div>
            <div class="bonuses__col col-2014"><header>26,71</header></div>
            <div class="bonuses__col col-2015"><header>26,71</header></div>
            <div class="bonuses__col col-2016"><header>26,71</header></div>
            <div class="bonuses__col col-2017"><header>26,71</header></div>
            <div class="bonuses__col col-2018"><header>26,71</header></div>
            <div class="bonuses__col col-2019"><header>26,71</header></div>
            <div class="bonuses__col col-2020"><header>26,71</header></div>
        </div>
    </div>
</div>

</section>
