<section class="contact-bonuses">
<div class="bonuses_wrap">
    <h3 class="bonuses__title">Історія нарахованих бонусів</h3>
    <div class="bonuses__diagram">
        <div class="bonuses__diagram--wrap">
            <div class="bonuses__col">
                <div class="band" style="height: 52%">
                    <header >26,71</header>
                    <div class="col_pointer" style="top: 10%"></div>
                    <footer>
                        <h5>2012</h5>
                    </footer>
                </div>
            </div>
            <div class="bonuses__col">
                <div class="band" style="height: 52%">
                    <header>26,71</header>
                    <div class="col_pointer" style="top: 40%"></div>
                    <footer>
                        <h5>2013</h5>
                    </footer>
                </div>
            </div><div class="bonuses__col" style="height: 70%">
            <div class="band">
                <header>35,41</header>
                <div class="col_pointer" style="top: 50%"></div>
                <footer>
                    <h5>2014</h5>
                </footer>
            </div>
        </div><div class="bonuses__col" style="height: 56%">
            <div class="band">
                <header>28,32</header>
                <div class="col_pointer" style="top: 80%"></div>
                <footer>
                    <h5>2015</h5>
                </footer>
            </div>
        </div>
            <div class="bonuses__col" style="height: 80%">
                <div class="band">
                    <header>40,01</header>
                    <div class="col_pointer" style="top:20%"></div>
                    <footer>
                        <h5>2016</h5>
                    </footer>
                </div>
            </div>
            <div class="bonuses__col" style="height: 66%">
                <div class="band">
                    <header>33,71</header>
                    <div class="col_pointer" style="top: 30%"></div>
                    <footer>
                        <h5>2017</h5>
                    </footer>
                </div>
            </div>
            <div class="bonuses__col" style="height: 90%">
                <div class="band">
                    <header>46,54</header>
                    <div class="col_pointer" style="top:40%"></div>
                    <footer>
                        <h5>2018</h5>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
