
   

   <div class="data">

    <ul>
	<li class="clearfix">
		<div class="icon_doc"><img src="../images/blocks/general/icon-doc.svg"></div>
		<div class="text">
			<h5>Мій поліс   JU 0057938</h5>
		</div>
			<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
			<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
			<h5>з 01.07.2017</h5>
		<div class="green_circle"></div>
		<h6>ТАС-ЮНІОР</h6>
		<div class="yellow_circle"></div>
		<h6>Виплата викупної</h6>
		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>



	<li class="clearfix">
		<div class="icon_doc"><img src="../images/blocks/general/icon-doc.svg"></div>
		<div class="text">
			<h5>Мій улюблений поліс   JU 0057938</h5>
			
		</div>
		<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
		<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
		<h5>з 01.07.2017</h5>
		<div class=icon_circle>
			<div class="green_circle"></div>
		</div>
		<h6>ТАС-ЮНІОР</h6>
		<div class=icon_circle>
			<div class="yellow_circle"></div>
		</div>
		<h6>Дійсний</h6>
		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>



	<li class="orange clearfix">
		<div class="icon_doc lemons"><img src="../images/blocks/general/icon-lemons.svg"></div>
		<div class="text">
			<h5>Інвестуй сьогодні з лідером ринку!   Інвест</h5></div>
			
			<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
			<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
			<h5>від 5 років</h5>

		<div class=icon_circle>
			<div></div>
		</div>
		<h6></h6>
		<div class=icon_circle>
			<div class="rectangle"></div>
		</div>
		<h6></h6>
		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>



	<li class="clearfix">
		<div class="icon_doc"><img src="../images/blocks/general/icon-doc.svg"></div>
		<div class="text">
			<h5>Старий поліс   JU 0057938</h5>
			
		</div>
		<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
		<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
		<h5>з 01.07.2017</h5>
		<div class=icon_circle>
			<div class="green_circle"></div>
		</div>
		<h6>ТАС-ЮНІОР</h6>
		<div class=icon_circle>
			<div class="red_circle"></div>
		</div>
		<h6>Розірваний</h6>
		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>

</ul>





	




</div>


