
   
<div class="data">

    <ul>


	<li class="clearfix">
		

		<div class="icon_doc"><img src="../images/blocks/general/icon-doc.svg"></div>
		

		<div class="text clearfix">
			<div class=basic_text><h5>Мій поліс</h5>
				<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
			</div>
			
			<div class="text_promotion">
				<div class="text_invest"><h6>JU 0038193</h6></div>
				<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
				<div class="text_invest"><h6>з 01.07.2017</h6></div>
			</div>
		</div>

			<div class="icon_circle">
				<div class="green_circle"></div>
				<h6>ТАС-ЮНІОР</h6>
			</div>
			<div class="icon_circle">
			<div class="yellow_circle"></div>
			<h6>Виплата викупної</h6>
		</div>

		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>





	<li class="clearfix">
		
		<div class="icon_doc"><img src="../images/blocks/general/icon-doc.svg"></div>
		

		<div class="text clearfix">
			<div class=basic_text><h5>Мій улюблений поліс</h5>
				<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
			</div>
			
			<div class="text_promotion">
				<div class="text_invest"><h6>JU 0054120</h6></div>
				<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
				<div class="text_invest"><h6>з 01.08.2016</h6></div>
			</div>
		</div>

			<div class="icon_circle">
				<div class="green_circle"></div>
				<h6>ТАС-пенсія</h6>
			</div>
			<div class="icon_circle">
			<div class="green_circle"></div>
			<h6>Дійсний</h6>
		</div>

		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>






	<li class="orange clearfix">
		
		<div class="icon_doc lemons"><img src="../images/blocks/general/icon-lemons.svg"></div>
		
		<div class="text clearfix">
			
			<div class="basic_text"><h5>Інвестуй сьогодні з лідером ринку!</h5></div>

			<div class="text_promotion">

				<div class="text_invest"><h6>Інвест</h6></div>
				<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
				<div class="text_invest"><h6>від 5 років</h6></div>
			</div>
		</div>

		<div class="icon_circle">
			<div class="green_circle"></div>
			<h6>До 25% річних</h6>
		</div>
		<div class="icon_circle">
			<div class="green_circle"></div>
			<h6>До 25% річних</h6>
		</div>

		<div class=rectangle></div>
	
		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>




	<li class="clearfix">
		
		<div class="icon_doc"><img src="../images/blocks/general/icon-doc.svg"></div>
		

		<div class="text clearfix">
			<div class=basic_text><h5>Старий поліс</h5>
				<div class="icon_edit"><img src="../images/blocks/general/icons-edit.svg"></div>
			</div>
			
			<div class="text_promotion">
				<div class="text_invest"><h6>JU 0057938</h6></div>
				<div class="calendar"><img src="../images/blocks/general/icon-calendar.svg"></div>
				<div class="text_invest"><h6>з 01.05.2008</h6></div>
			</div>
		</div>

			<div class="icon_circle">
				<div class="green_circle"></div>
				<h6>ТАС-ЮНІОР</h6>
			</div>
			<div class="icon_circle">
			<div class="red_circle"></div>
			<h6>Розірваний</h6>
		</div>

		<img class="icon_next" src="../images/blocks/general/icon-next.svg">
		<img class="icon_market" src="../images/blocks/general/icon-market.svg">
	</li>

</ul>


</div>

