
<div class="section-header">

    <nav class="container clearfix">
        <a href="#" class="logo">
           <img src="../images/blocks/header/logo.png" alt="">
        </a>
        <form action method="get" id="searchform">
            <button type="submit">
               <img src="../images/blocks/header/icon-search.svg" alt="" class="serch-icon">
            </button>
            <input type="text" placeholder="Пошук">
        </form>
   <div class="sign-in clearfix">
        <img src="../images/blocks/header/icon-guest.svg" alt="" class="sign-in__profile">
        <div class="sign-in__welcome">
            <span>Вітаємо, Гість!</span><br>
            <a href="#" class="sign">Авторизувавтися</a>
        </div>
        <a href="#" class="notification">
            <img src="../images/blocks/header/icon-notification.svg" alt="" class="notification-icon" >
        </a>
   </div>
   </nav>

</div>
  