	<div class="menu-section-big clearfix">
		<div class="menu-icon"><img src="../images/blocks/menu/icon-more.svg"></div>
		<ul class="main-menu clearfix">
			<li class="menu-item clearfix">
				<div class="menu-item-icon"><img src="../images/blocks/menu/icon-home.svg"></div>
				<div class="menu-item-name">Головна</div>
			</li>
			<li class="menu-item clearfix">
				<div class="menu-item-icon"><img src="../images/blocks/menu/icon-shield.svg"></div>
				<a class="menu-item-name">Поліси</a>
				<ul type="disc" class="sub-menu">
					<li class="sub-menu-item"><a class="sub-menu-item-name">Всі поліси</a></li>
					<li class="sub-menu-item"><a class="sub-menu-item-name">Виплати</a></li>
					<li class="sub-menu-item"><a class="sub-menu-item-name">Сплатити</a></li>
					<li class="sub-menu-item"><a class="sub-menu-item-name">Розрахувати</a></li>
					<li class="sub-menu-item"><a class="sub-menu-item-name">Внести зміни</a></li>
				</ul>
			</li>
			<li class="menu-item clearfix">
				<div class="menu-item-icon"><img src="../images/blocks/menu/icon-umbrella.svg"></div>
				<a class="menu-item-name">Страхування</a>
			</li>
			<li class="menu-item clearfix">
				<div class="menu-item-icon"><img src="../images/blocks/menu/icon-smth.svg"></div>
				<a class="menu-item-name">Пенсія</a>
			</li>
			<li class="menu-item clearfix">
				<div class="menu-item-icon"><img src="../images/blocks/menu/icon-chart.svg"></div>
				<a class="menu-item-name">Інвестиції</a>
			</li>
			<li class="menu-item clearfix">
				<div class="menu-item-icon"><img src="../images/blocks/menu/icon-atom.svg"></div>
				<a class="menu-item-name">Навчання</a>
			</li>
		</ul>
		<div class="phone-number">0 800 500 123</div>
		<div class="social-icon-row clearfix">
			<div class="social-icon"><img src="../images/blocks/menu/help/skype.svg"></div>
			<div class="social-icon"><img src="../images/blocks/menu/help/icon-consultant.svg"></div>
			<div class="social-icon"><img src="../images/blocks/menu/help/icon-email2.svg"></div>
		</div>
	</div>