.data
{
	width: 1100px;
	height: 400px;
	background-color: white;
	border-top: none;
	border-bottom-color: #e2dfdf;
	margin-left: 5%;
}
.data li
{
	list-style-type:  none;
	display: block;
	float: none;
	border-bottom: 1px solid #e2dfdf;
}
.data ul
{
	display: block;
}

.icon_doc
{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}
.lemons
{
	float: left;
	padding-left: 20px;
	padding-top: 30px;
}
.text
{
	float: left;
	height: 90px;
	margin-left: 30px;
	padding: 0;
	width: 280px;
	font-size: 12px;
}

.text_promotion
{
	width: 280px;
	height: 20px;
	margin-bottom: 15px;
	display: inline-block;

}
.basic_text
{
	float: left;
	padding: 0;
	width: 100%;
}

span
{
	margin-top: -15px;
}
h5
{
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	width: 120px;
	font-size: 12px;
}
.orange h5
{
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	width: 100%;
	font-size: 12px;
}
h6
{
	float: left;
	padding-top: 0px;
	width: 90px;
	font-size: 12px;
}
.icon_edit
{
	float: left;
	margin-left: 5px;
	margin-top: 15px;
	
}
.text_invest
{
	float:left;
	
}
.calendar
{
	float: left;
	padding-top: 30px;
	margin-left: 30px;
	margin-right: 5px;
	
}
.icon_next
{
	float: right;
	margin-right: 150px;
	padding-top: 30px;
	
}

.icon_market
{
	float: right;
	padding-top: 15px;	
}
.buy
{
	display: inline-block;
}
.button_buy
{
	width: 165px;
	height: 46px;
	float: right;
	margin-right: -100px;
	margin-top: 15px;
}
.button_buy:hover
{
	background-color: #1d6bb2;
}
.button_buy:hover::before
{
	content: "СПЛАТИТИ";
	font-size: 14px;
	padding-left: 40px;
	padding-top: 15px;
}
.icon_circle
{
	margin-left: 30px;
	float: left;
}
.green_circle {
	width: 6px;
	height: 6px;
	float: left;
	margin-top: 30px;
	margin-right: 25px;
	background: green;
	border-radius: 3px;
}
.yellow_circle {
	width: 6px;
	height: 6px;
	float: left;
	margin-top: 30px;
	background: yellow;
	border-radius: 3px;
	margin-right: 25px;
}
.red_circle {
	width: 6px;
	height: 6px;
	float: left;
	margin-top: 30px;
	background: red;
	border-radius: 3px;
	margin-right: 25px;
}
.orange .yellow_circle {
	width: 6px;
	height: 6px;
	float: left;
	margin-left: 35px;
	margin-top: 30px;
	background: yellow;
	border-radius: 3px;
}
.clearfix:after{
    display: table;
    content: "";
    clear: both;
    overflow: hidden;
}
.orange
{
background-color: #fff6e1;
width: 100%;
position: relative;
}
.orange h5
{
	color: orange;
}
.rectangle
{
	margin-left: 700px;
	position: absolute;
	width: 140px;
	height: 90px;
	background-image: url(../../images/blocks/general/rectangle.png);
}



