.clearfix:after {
    content: '';
    display: table;
    clear: both
}

.section-header {
   width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px 0px 18px 0px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    

    

    .sign-in {
       margin-left: auto;
        
        .sign-in__profile {
            background-color: #e1e2e9;
            border-radius: 2px;
            width: 10%;
            float: left;
            margin-right: 20px;
        }
        .sign-in__welcome {
            width: 70%;
            float: left;
            
            .sign {
                color: #1d6bb2;
            }
        }
        
        .notification {
        width: 10%;
        display: inline-block;
        float: left;
        }
        
    }   
}

.logo {
    width: 10%;
    display: inline-block;
    margin-right: 29px;
}
