.clearfix:after {
    content: '';
    display: table;
    clear: both
}

.section-header {
   width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px 0px 18px 0px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0px 15px;
    vertical-align: center;
    
    .logo {
        float: left;
        width: 15%;
        margin-right: 29px;
        top: 0;
        bottom: 0;
        
    }    
    form {
        float: left;
        width: 20%;
        background: none;
        line-height: 40px;
    }
    .sign-in {
        float: right;
        line-height: 40px;
        
        
        .sign-in__profile {
            width: 25%;
            background-color: #e1e2e9;
            border-radius: 2px;
            float: left;
            margin-right: 20px;
        }
        sign-in__welcome {
            float: right;
            line-height: 20px;
         
        }
        span {
        font-size: 16px;
          
        }
        .sign {
        color: #939497; 
            font-size: 16px;
        
     
        }
        
    }
    .notification-icon {
        float: right;
        width: 10%;
        line-height: 40px;
    } 
    
}